{% extends 'base.html' %}

{% block content %}
<style type="text/css">
	.center{
		text-align: center;
	}
</style>
<div class="center"><br><br><br><br>
	<h1>Center Saved</h1><br><br>
	<div class="container">
		<div class="container" >
	<h1 style="border: 2px solid red; padding: 10px; box-sizing: border-box;">{{center}}</h1><br>
		</div>
</div>
	<h1>Quantity: {{quantity}}</h1><br>
	<a href="{% url 'index' %}"><button type="button" class="btn btn-success btn-lg">Return Home</button></a>
</div>
{% endblock %}

